# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

#misc
WORK/*

#frontend files
vendor/*
tmp/*
bower_components/*
node_modules/*
.bundle/*
.sass-cache/*
src/**/*
!.keep

#--server files----------------
art_server.php
public/js
public/css
public/vendor
public/tmp/*
!.keep
public/wp-content
wp



